<div class="fk">


    <div class="lk">j</div>
<div class="start">
    <h1>Registration Form</h1>
<hr/>
<div class="box1">
<div class="box">
    <input class="input-box" type="search" placeholder="Search by MRN|Name|Mobile No.|DOB|Address"/>
<button class="input-search">search</button>
</div>

<div class="box">
    <input class="input-box"  type="search" placeholder="Search by Appoinment No.|Name|Mobile No.|DOB|Address"/>
<button class="input-search">search</button>
</div>
</div>
<app-user-profile></app-user-profile>

</div>
</div>


