body{
    margin: 0;
    padding: 0;
}

.input-search{
padding: 10px 12px;
background-color: rgb(32, 118, 121);
color: white;
border: none;
margin-right: 10px;
}
.input-box{
    padding: 8px 12px;  
    margin: 6px;
    width: 240px;
}

.box1{
    display: flex;
    flex-direction: row-reverse;
}
.fk{
    display: flex;
    margin: 0;
    padding: 0;
}
.lk{
    width: 15%;
    height: 100vh;
    background-color: rgb(41, 39, 39);
}
h1{
    margin-left: 20px;
}
