<div class="fk">
  <div class="jk"></div>
<div class="op">
  <div class="userProfile">
    
    <h2>Personal Details</h2>
    <div class="boxcr">
      <app-dropdown label="Hospital" [options]="['Oceania', 'Fortis', 'Apollo']"></app-dropdown>
      <app-user-profilecomp label="First Name*" placeholder=""></app-user-profilecomp>
      <app-user-profilecomp label="Middle Name" placeholder=""></app-user-profilecomp>
      <app-user-profilecomp label="Last Name*" placeholder=""></app-user-profilecomp>
    </div>
    <div class="boxcr">
      <app-dropdown label="Maritial Status" [options]="['Single', 'Married']"></app-dropdown>
      <div class="dob">
        <div>DOB*</div>
        <input type="date" [(ngModel)]="dob" (change)="calculateAge()" />
      </div>
      <div>
        <div>Age</div>
        <div class="inside-age">
          <input disabled type="text" [value]="age !== null ? age : ''" />
  
        </div>
      </div>
      <app-dropdown label="Gender" [options]="['Male', 'Female']"></app-dropdown>
      <app-user-profilecomp label="Email" placeholder=""></app-user-profilecomp>
    </div>
    <div class="boxcr">
      <app-user-profilecomp  label="Address line 1*"  placeholder=""></app-user-profilecomp>
      <!-- <app-user-profilecomp label="Address line 2" placeholder=""></app-user-profilecomp> -->
      <app-user-profilecomp  label="Address line 2"  placeholder=""></app-user-profilecomp>
      <app-dropdown label="Country" [options]="['India', 'NZ', 'Australia']"></app-dropdown>
      <app-user-profilecomp  label="State"  placeholder=""></app-user-profilecomp>
     
    </div>
  </div>
</div>

</div>
