.userProfile{
  
   width:82vw;
   margin-top: 15px;
   background-color: rgb(91, 223, 223);
   padding:5px 16px;
}
.boxcr{
    display: flex;
    gap: 16px;
    margin-bottom: 15px;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    
    flex: 1;
}
.dob>input{
    padding: 6px;
}
.dob{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.inside-age>input{
    background-color: rgb(210, 219, 218);
    height: 30px ;
    width: 50px;
    border: none;
    
}
.inside-age{
    display: flex;
    gap: 10px;
    margin-top: 4px;
}

app-user-profilecomp {
    flex: 1; /* Allow this component to take the remaining space */
    min-width: 0; /* Ensure it can shrink properly */
}

.visitProfile{
    width:82vw;
    margin-top: 16px;
    background-color: rgb(183, 247, 247);
    padding:5px 16px;
}

.boxcrs{
    display: flex;
   flex-direction: column;
   justify-items: flex-start;
}
.boxcr3{
    display: flex;
    gap: 16px;
    margin-bottom: 15px;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    
   
    width: 600px; 
}
.kinProfile{
    width:82vw;
    margin-top: 16px;
    background-color: rgb(199, 245, 245);
    padding:5px 16px;
}
.boxcr4{
    display: flex;
    gap: 16px;
    margin-bottom: 15px;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    
   
    width: 1000px; 
}
.inProfile{
    width:82vw;
    margin-top: 16px;
    background-color: rgb(231, 249, 249);
    padding:5px 16px;

}