.userProfile{
   height: 600px;
   width:100%;
   margin-top: 15px;
   background-color: rgb(91, 223, 223);
   padding:5px 5px;
}
.boxcr{
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}
.dob>input{
    padding: 6px;
}
.dob{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
